# This file was updated by Duplicator on 2023-10-21 08:05:31.
# See the original_files_ folder for the original source_site_htaccess file.

#SITEGUARD_PLUGIN_SETTINGS_START
#==== SITEGUARD_DISABLE_XMLRPC_SETTINGS_START
<Files xmlrpc.php>
    <IfModule authz_core_module>
        Require all denied
    </IfModule>
    <IfModule !authz_core_module>
        Order allow,deny
        Deny from all
    </IfModule>
</Files>
#==== SITEGUARD_DISABLE_XMLRPC_SETTINGS_END
#SITEGUARD_PLUGIN_SETTINGS_END


# --- Bot 対策 WebShell 名パターン拒否 ---
<IfModule mod_rewrite.c>
RewriteEngine On

# .php / .php7 で、Bot がよく使うファイル名パターンを拒否
RewriteCond %{REQUEST_URI} /([^/]+)\.(php|php7)$ [NC]
RewriteCond %1 ^(shell|wso|bolt|baxa|av|buy|num|as|elp|wp-help)$ [NC]
RewriteRule .* - [F]
</IfModule>
# --- ここまで ---

# BEGIN WordPress
# "BEGIN WordPress" から "END WordPress" までのディレクティブ (行) は
# 動的に生成され、WordPress フィルターによってのみ修正が可能です。
# これらのマーカー間にあるディレクティブへのいかなる変更も上書きされてしまいます。
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /wp/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wp/index.php [L]
</IfModule>

# END WordPress
